.blurb {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p:first-child {
    color: #A5C6FE;
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 1.25rem;
  }  
  p:last-child {
    font-size: 1rem;
    color: #4F4F4F;
  }
}