.burger {
  @media only screen and (min-width: 769px){
    display: none;
  }
}
.burger-button {
  position: fixed;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  z-index: 101;
  span {
    font-size: 2rem;
  }
  &.invisible {
    display: none;
  }
}

.burger-cross {
  position: fixed;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  z-index: 104;
  &.invisible {
    display: none;
  }
}

.large-height {
  &.visible {
    position: fixed;
    z-index: 102;
    background-color: #FFF;
    height: 100vh;
    width: 100%;
    transition:transform 0.3s ease-out;
    transform:scaleY(1);
  }
  &.invisible {
    height: 0vh;
    transition:transform 0.3s ease-out;
    transform:scaleY(0);
    display: none;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  .links {
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
    a {
      font-size: 2rem;
      &:last-child {
        font-weight: bold;
        color: #3873F9;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}


.bottom {
  &:last-child {
    font-weight: bold;
    color: #3873F9;
    display: flex;
    justify-content: flex-end;
  }
}