.banner-text {
  text-align: center;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    font-weight: bold;
    color: #333333;
    font-size: 2rem;
    padding-bottom: 1rem;
  }  
  div {
    color: #4F4F4F;
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    margin-bottom: 1.5rem;
    @media only screen and (max-width: 1500px) and (min-width: 1024px){
      width: 60%;
    }
    @media only screen and (max-width: 1024px) and (min-width: 769px){
      width: 70%;
    }
    @media only screen and (max-width: 769px){
      font-size: 1.2rem;
      width: 80%;
    }
  }
  .generationZ {
    span {
    	position:relative;
    }
    #i1:after, #i2:before, #i3:after {
      width:105%;
    	height:0.8rem;
    	position:absolute;
    	left:-2.5%;
    	bottom:-0.25rem;
    	content:"";
    	display:block;
    	background-color: #FEFACA;
    	z-index:-1;
    	opacity: 1;
      border-radius: 0.1rem;
    }   
  }
  .our-process {
    position: relative;
    &:before{
      content: "";
      background-color: #EBF1FF;
      border-radius: 100%;
      position: absolute;
      left: -8%;
      top: -7vh;
      shape-outside: circle(50%);
      width: 9rem;
      height: 9rem;
      z-index: -1;
    }
    &:after{
      content: "";
      background-color: #EBF1FF;
      position: absolute;
      right: -8%;
      bottom: -5vh;
      shape-outside: circle(50%);
      width: 8rem;
      height: 8rem;
      z-index: -1;
    }
  }
  .the-team {
    position: relative;
    width: 80%;
  }
  .lost {
    width: 50%;
    @media only screen and (max-width: 1500px) and (min-width: 1024px){
      width: 50%;
    }
    @media only screen and (max-width: 1024px) and (min-width: 769px){
      width: 60%;
    }
    @media only screen and (max-width: 769px){
      width: 80%;
    }
  }
}