.contact-us {
  font-size: 1rem;
  form {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 769px){
      flex-direction: column;
      align-items: center;
    }
    input {
      width: 30vw;
      @media only screen and (max-width: 769px){
        width: 80vw;
        margin-bottom: 1vh;
      }
      padding: 1vh 1vw;
      border: 1px solid #BDBDBD;
      margin-right: 1vw;
      border-radius: 3px;
      font-size: 1rem;
    }
    button {
      font-size: 1rem;
      color: #F8FAFF;
      padding: 1vh 1vw;
      background: #3873F9;
      border-radius: 3px;
      min-width: 8vw;
      display: flex;
      justify-content: center;
      
    }
    .loader {
      border: 0.5rem solid #F8FAFF; 
      border-top: 0.5rem solid rgba(56,115,249, 0.5);
      border-radius: 50%;
      height: 1.5vh;
      width: 1.5vw;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
  
}