.our-project {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
  a {
    align-self: flex-end;
    margin-right: 1rem;
    .button {
      font-size: 1rem;
      padding: 2vh 2vw;
      color: #333333;
      background: #FFFFFF;
      border: 2px solid #333333;
      border-radius: 3px;
      display: inline-block;
      white-space: nowrap;
      span {
        display: flex;
      }
      img {
        filter: brightness(0) saturate(100%) invert(16%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(97%) contrast(87%);
        margin-left: 1vw;
        margin-bottom: -1px;
        width: 1rem;
      }
    }
  }
}